{% extends 'base/main.html' %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="color:#002533;">
    <div class="row mb-2" style="padding:5px;">
      <div class="col-sm-6">
        <h1>Station & Office</h1>
      </div>  
      <div class="col-sm-4">
        <a class="btn btn-primary pull-right" href="#" data-toggle="modal" data-target="#modal-station">Add Station.</a>
        <a class="btn btn-primary pull-right" href="#" data-toggle="modal" data-target="#modal-office">Add Office.</a>
      </div>
      <div class="col-sm-2">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><b>Settings</b></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content margtop">
<div class="container-fluid">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
        <!-- DIRECT CHAT -->
        <div class="card direct-chat direct-chat-warning">
            <div class="card-header">
              <h3 class="card-title">Stations</h3>

              <div class="card-tools">
                <span title="3 New Messages" class="badge badge-warning">{{ totalStation }}</span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card-body p-0">
                    <div class="table-responsive table-sm">
                      <table class="table m-0">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Department</th>
                          <th>StationName</th>
                          <th>StationNumber</th>
                          <th>RegionName</th>
                          <th>createdBy</th>
                          <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for station in stationInstanceData %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ station.department.name }}</td>
                          <td>{{ station.stationName }}</td>
                          <td>{{ station.stationNumber }}</td>
                          <td>{{ station.regionName }}</td>
                          <td>{{ station.createdBy.email }}</td>
                          <td>
                            {% if station.status %}
                            <a class="fa fa-check btn-sm btn-success" title="deactivate" href="{% url 'stationStatus_url' %}?station_id={{station.id}}"></a>
                            {% else %}
                            <a class="fas fa-times btn-sm btn-danger" title="activate" href="{% url 'stationStatus_url' %}?station_id={{station.id}}"></a>
                            {% endif %}
                            <a class="fa fa-edit btn-sm btn-primary" data-toggle="modal" data-target="#modal-updateStation{{station.id}}" title="edit"></a>
                          </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.card-body -->
            </div>

            <!-- /.card-body -->
            <div class="card-footer">
              <form action="#" method="post">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type here to search for station ....." class="form-control">
                  <span class="input-group-append">
                    <button type="button" class="btn btn-success btn-sm"><b>search</b></button>
                  </span>
                </div>
              </form>
            </div>
            <!-- /.card-footer-->
          </div>
        </div>
          <!--/.direct-chat -->
    </div>

    <div class="row">
      <div class="col-2">
      </div>
        <div class="col-10">
         <!-- DIRECT CHAT -->
         <div class="card direct-chat direct-chat-warning">
            <div class="card-header">
              <h3 class="card-title">Offices</h3>

              <div class="card-tools">
                <span title="3 New Messages" class="badge badge-warning">{{ totalOffice }}</span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card-body p-0">
                    <div class="table-responsive table-sm">
                      <table class="table m-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Department</th>
                            <th>Station</th>
                            <th>OfficeName</th>
                            <th>OfficeNo</th>
                            <th>YearBuilt</th>
                            <th>createdBy</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        {% for office in officeInstanceData %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ office.department.name }}</td>
                            <td>{{ office.station.stationName }}</td>
                            <td>{{ office.officeName }}</td>
                            <td>{{ office.OfficeNumber }}</td>
                            <td>{{ office.yearBuilt|date:"d/m/Y" }}</td>
                            <td>{{ office.createdBy.email }}</td>
                            <td>
                              {% if office.status %}
                              <a class="fa fa-check btn-sm btn-success" title="deactivate" href="{% url 'officeStatus_url' %}?officeId={{office.id}}"></a>
                              {% else %}
                              <a class="fas fa-times btn-sm btn-danger" title="activate" href="{% url 'officeStatus_url' %}?officeId={{office.id}}"></a>
                              {% endif %}
                              <a class="fa fa-edit btn-sm btn-primary" data-toggle="modal" data-target="#modal-updateOffice{{office.id}}" title="edit"></a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.card-body -->
            </div>

            <!-- /.card-body -->
            <div class="card-footer">
              <form action="#" method="post">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type here to search for office ....." class="form-control">
                  <span class="input-group-append">
                    <button type="button" class="btn btn-success btn-sm"><b>search</b></button>
                  </span>
                </div>
              </form>
            </div>
            <!-- /.card-footer-->
          </div>
        </div>
          <!--/.direct-chat -->
    </div>


    <!--modal for creating asset category.....-->
    <div class="modal fade" id="modal-station">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create station.</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'createStation_url' %}" method="POST">
                    {% csrf_token %}
    
                    <div class="input-group mb-3">
                        <select name="DepartmentId" class="form-control" required>
                          {% for department in departmentObjectData %}
                          <option value="{{department.id}}">{{ department.name }}</option>
                          {% endfor %}
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-building"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                      <input type="text" name="StationName" class="form-control" placeholder="Station name" required>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-align-justify"></span>
                        </div>
                      </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="number" name="StationNumber" class="form-control" placeholder="Station number" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-align-justify"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="REgionName" class="form-control" placeholder="Region name" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-building"></span>
                          </div>
                        </div>
                    </div>
    
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Save changes</button>
                      </div>
                  </form>
            </div>
        </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
      <!-- /.modal -->


    <!--modal for creating inventory category.....-->
    <div class="modal fade" id="modal-office">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create office.</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'createOffice_url' %}" method="POST">
                    {% csrf_token %}
    
                    <div class="input-group mb-3">
                        <select name="DepartmentId" class="form-control" required>
                          {% for department in departmentObjectData %}
                          <option value="{{department.id}}">{{ department.name }}</option>
                          {% endfor %}
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-building"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <select name="StationId" class="form-control" required>
                          {% for station in stationInstanceData %}
                          <option value="{{station.id}}">{{ station.stationName }}</option>
                          {% endfor %}
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-building"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                      <input type="text" name="OfficeName" class="form-control" placeholder="Office name" required>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-align-justify"></span>
                        </div>
                      </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="number" name="OfficeNumber" class="form-control" placeholder="office number" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-align-justify"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="date" name="YearBuilt" class="form-control" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-clock"></span>
                          </div>
                        </div>
                    </div>
    
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Save changes</button>
                      </div>
                  </form>
            </div>
        </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
    <!--model for creating maxNo of workers per order.......-->
    {% for station in stationInstanceData %}
    <div class="modal fade" id="modal-updateStation{{station.id}}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update station.</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'updateStation_url' station.id %}" method="POST">
                    {% csrf_token %}

                    {% comment %} <input type="hidden" name="StationId" class="form-control" value="{{station.id}}" required> {% endcomment %}
                    <div class="input-group mb-3">
                        <select name="DepartmentId" class="form-control" required>
                          {% for department in departmentObjectData %}
                          {% if station.department == department %}
                          <option value="{{department.id}}" selected>{{ department.name }}</option>
                          {% else %}
                          <option value="{{department.id}}">{{ department.name }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-building"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                      <input type="text" name="StationName" class="form-control" placeholder="Station name" value="{{station.stationName}}" required>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-align-justify"></span>
                        </div>
                      </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="number" name="StationNumber" class="form-control" placeholder="Station number" value="{{station.stationNumber}}" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-align-justify"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="REgionName" class="form-control" placeholder="Region name" value="{{station.regionName}}" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-building"></span>
                          </div>
                        </div>
                    </div>
    
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Save changes</button>
                      </div>
                  </form>
            </div>
        </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% endfor %}
      <!-- /.modal -->

    <!--Edit maxNo of workers per order...-->
    <!--model for creating maxNo of workers per order.......-->
    {% for office in officeInstanceData %}
    <div class="modal fade" id="modal-updateOffice{{office.id}}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update office.</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'updateOffice_url' office.id %}" method="POST">
                    {% csrf_token %}
    
                    <div class="input-group mb-3">
                        <select name="DepartmentId" class="form-control" required>
                          {% for department in departmentObjectData %}
                          {% if office.department == department %}
                          <option value="{{department.id}}" selected>{{ department.name }}</option>
                          {% else %}
                          <option value="{{department.id}}">{{ department.name }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-building"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <select name="StationId" class="form-control" required>
                          {% for station in stationInstanceData %}
                          {% if office.station == station %}
                          <option value="{{station.id}}" selected>{{ station.stationName }}</option>
                          {% else %}
                          <option value="{{station.id}}">{{ station.stationName }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-building"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                      <input type="text" name="OfficeName" class="form-control" placeholder="Office name" value="{{office.officeName}}" required>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-align-justify"></span>
                        </div>
                      </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="number" name="OfficeNumber" class="form-control" placeholder="office number" value="{{office.OfficeNumber}}" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-align-justify"></span>
                          </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="date" name="YearBuilt" class="form-control" value="{{office.yearBuilt|date:'Y-m-d'}}" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-clock"></span>
                          </div>
                        </div>
                    </div>
    
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Save changes</button>
                      </div>
                  </form>
            </div>
        </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {% endfor %}
      <!-- /.modal -->
  </div>
</div>

{% endblock content %}